.place__title {
    margin: 0;
    max-width: 460px;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    align-self: end;
}
@media (max-width: 768px) {
    .place__title {
        max-width: 340px;
        font-size: clamp(32px, 10vw, 72px);
        line-height: clamp(35px, 10vw, 76px);
    }
}
@media (max-width: 420px) {
    .place__title {
        padding: 0 16px;
    }
}