.places {
    max-width: 984px;
    padding: 92px 148px;
}
@media (max-width: 1024px) {
    .places {
        padding: 92px 48px;
    }
}
@media (max-width: 768px) {
    .places {
        padding: 88px 24px;
    }
}
@media (max-width: 420px) {
    .places {
        padding: 64px 0;
    }
}