.footer__copyright {
    margin: 0;
    justify-self: end;
    font-size: 14px;
    line-height: 19px;
}
@media (max-width: 700px) {
    .footer__copyright {
        margin-top: 12px;
        line-height: 14px;
    }
}
@media (max-width: 510px) {
    .footer__copyright {
        margin-top: 48px;
        line-height: 14px;
    }
}