.lead__caption {
    margin: 8px 0 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: left;
    text-transform: uppercase;
}
@media (max-width: 768px) {
    .lead__caption {
        margin: 8px 0 0 24px;
    }
}
@media (max-width: 320px) {
    .lead__caption {
        margin: 8px 0 0 16px;
    }
}